 /* == gr grid */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue", "Arial";
  line-height: 1.4em;
}

.tech-mono {
  font-family: "Share Tech Mono", monospace;
}

.blog-container {
  margin: 0 auto;
  padding: 1em 0;
  max-width: 980px;
}

.gr-color-box {
    display: block;
    width: 8em;
    height: 3em;
    border-radius: 5px;
}

/* == gr grid */
.gr-grid-wrapper {
  display: grid;
  grid-template-rows: repeat( 1, 1fr );
  grid-template-columns: repeat( 12, 1fr );
}

.gr-grid-one {
  grid-area: 1;
}

.gr-grid-two {
  grid-area: 1 / span 2;
}

.gr-grid-three {
  grid-area: 1 / span 3;
}

.gr-grid-four {
  grid-area: 1 / span 4;
}

.gr-grid-five {
  grid-area: 1 / span 5;
}

.gr-grid-six {
  grid-area: 1 / span 6;
}

.gr-grid-seven {
  grid-area: 1 / span 7;
}

.gr-grid-eight {
  grid-area: 1 / span 8;
}

.gr-grid-nine {
  grid-area: 1 / span 9;
}

.gr-grid-ten {
  grid-area: 1 / span 10;
}

.gr-grid-eleven {
  grid-area: 1 / span 11;
}

.gr-grid-twelve {
  grid-area: 1 / span 12;
}

@media only screen and ( max-width: 499px ) {
  .gr-grid-wrapper > .gr-grid-one,
  .gr-grid-two,
  .gr-grid-three,
  .gr-grid-four,
  .gr-grid-five,
  .gr-grid-seven,
  .gr-grid-eight,
  .gr-grid-nine,
  .gr-grid-ten,
  .gr-grid-eleven,
  .gr-grid-twelve {
    grid-area: 1/ span 12;
  }

  .nav-list-container {
    position: relative;
    top: 2.5em;
  }
}
/* // gr grid */

/* == new logo */
.gr-logo {
  margin-top: 1em;
  box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.5 );
  width: 112px;
}

.gr-logo-link {
  position: relative;
  text-decoration: none;
}

.gr-logo-menu {
  position: relative;
  right: 10px;
}

.gr-logo-top {
  height: 14px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #e6e8e6;
}

.gr-logo-circle {
  height: 6px;
  width: 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin:  0 0 4px 0;
}

.gr-logo-circle:first-child {
  background-color: #d82029;
  margin: 0 0 4px 6px;
}

.gr-logo-circle:nth-child(2) {
  background-color: #fbc200;
}

.gr-logo-circle:nth-child(3) {
  background-color: #70D18C;
}

.gr-logo-text {
  height: 64px;
  border: 3px solid #e6e8e6;
  border-bottom: 6px solid #e6e8e6;
  color: #e6e8e6;
  background: #333;
  font-weight: 900;
  font-size: 12px;
  padding: 4px 0 0 4px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.gr-logo-input {
  width: 48px;
  position: relative;
  right: 10px;
  bottom: 2px;
  display: inline;
  background: transparent;
  border: 0;
  z-index: 100;
  color: #fff;
}

.gr-logo-input:focus {
  outline: none;
}

.gr-underscore {
  animation:blinkingUnderscore 1.4s infinite;
  font-size: 14px;
}

@keyframes blinkingUnderscore {
  0% {
    color: #e6e8e6;
  }
  49% {
    color: #e6e8e6;
  }
  60% {
    color: transparent;
  }
  99% {
    color:transparent;
  }
  100% {
    color: #e6e8e6;
  }
}
/* // new logo */

/* == gr blog button */
.gr-button {
  padding: 8px;
  border: 2px solid #d82029;
  box-shadow: 3px 3px 0 #fbc200;
  color: #d82029;
  font-size: 1.222em;
  font-weight: bold;
  background-color: #fff;
}

.gr-button:hover {
  box-shadow: 5px 5px 0 #fbc200;
  cursor: pointer;
}

.gr-button:focus {
  outline: none;
}
/* // gr blog button */

/* == gr section title */
.gr-section-title-light {
  color: #333;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 1.33333rem;
  font-weight: 500;
  text-align: left;
  padding: 0 0 1.25rem;
  position: relative;
  margin: 1.5em 0 0.5em 0;
}

.gr-section-title-light:after {
  display: block;
  content: "";
  left: 0;
  bottom: 13px;
  width: 64px;
  height: 5px;
  position: absolute;
  background-color: #333;
}

.gr-section-title-dark {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 1.33333rem;
  font-weight: 500;
  text-align: left;
  padding: 0 0 1.25rem;
  position: relative;
}

.gr-section-title-dark:after {
  display: block;
  content: "";
  left: 0;
  bottom: 13px;
  width: 64px;
  height: 5px;
  position: absolute;
  background-color: #fbc200;
}
/* // gr section title */

/* == blog spacer */
.blog-spacer {
  background-color: #d82029;
  color: #fff;
}
/* // blog spacer */

/* start footer styles */
.footer {
  color: #fff;
  background-color: #191919;
  padding: 4em 0 0 0;
  font-size: 0.777em;
}

.footer-content {
  display: inline-grid;
  grid: 50px / auto auto;
  grid-gap: 10px;
  width: 100%;
}

@media only screen and ( min-width: 640px ) {
  .footer-content {
    font-size: 1em;
  }
}

.footer-div-left {
  text-align: left;
}

.footer-div-right {
  text-align: right;
}

.footer-copyright {
  position: relative;
  top: 4px;
}

.footer-fa {
  color: #fff;
  font-size: 1.222em;
  position: relative;
  top: 1px;
  margin: 0 4px;
}
/* end footer styles