/* start blog header */
.nav-wrapper {
  background-color: #d82029;
}

.gr-nav-ul {
  grid-area: 1 / span 11;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.gr-nav-li {
  display: inline;
  position: relative;
  top: 70px;
  font-size: 0.7em;
  margin: 0 0 0 1em;
}

.gr-nav-li:first-child {
  margin: 0 0 0 3em;
}

.gr-nav-li > .gr-li-a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.gr-li-a:hover {
  color: #fbc200;
}

.gr-li-b {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #fbc200;
  cursor: default;
}

@media only screen and ( max-width: 499px ) {
  .nav-wrapper > .section-wrapper {
    height: 10em;
  }

  .gr-nav-li {
    right: 3em;
  }
}

/* medium devices */
@media ( min-width: 768px ) {
  .gr-nav-li {
    font-size: 0.888em;
    top: 70px;
  }

  .gr-nav-li:nth-child(n+2) {
    margin: 0 0 0 2em;
  }
}

/* large devices */
@media ( min-width: 992px ) {
  .gr-nav-li:nth-child(n+2) {
    margin: 0 0 0 4em;
  }
}
/* end blog header */