.sidebar-wrapper {
  display: none;
  position: fixed;
  overflow-y: auto;
  left: 0;
  height: -webkit-fill-available;
  width: 22%;
  text-align: center;
  background-color: #d82029;
  color: #fff;
  box-shadow: inset -2px 0 5px 0 rgba(0,0,0,.4);
}

.sidebar {
  margin: 2em;
}

.greg-emoticon {
  width: 7.8em;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  border: solid 6px #fbc200;
}

.intro-name {
  text-transform: uppercase;
  margin: 1em 0 0.2em;
}

.intro-title {
  text-transform: uppercase;
  margin: 0.5em 0 0 0;
}

.underline {
  background-color: #fbc200;
  width: 88%;
  height: 6px;
  position: relative;
  left: 6%;
}

.intro-description {
  text-align: left;
  margin: 1em;
}

@media only screen and ( min-width: 948px ) {
  .sidebar-wrapper {
    display: block;
  }
}