body {
  margin: 0;
  padding: 0;
  color: #333;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  /*flex-direction: column;*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/

  /* flex-flow combines the flex-direction and flex wrap properties into one. note: used the flex: sizepx property/value in the item in order to wrap the content; */
  flex-flow: row wrap;
  border: 2px solid yellow;
}

/* begin adding borders */
.sidebar-wrapper,
.content-wrapper {
  border: solid pink 2px;
}

.sidebar,
.header,
.content,
.footer,
.main {
  border: solid green 2px;
}

.section {
  border: solid blue 2px;
}

.blog-double {
  border: solid purple 2px;
}
/* end adding borders */

/* start sidebar styles */
.sidebar-wrapper {
  display: none;
  height: 100vh;
  width: 25%;
  flex: 1 200px;
  text-align: center;
  /*margin: 0 2em;*/
  /*background-color: #4b8c97;*/
  background-color: #d82029;
  /*background-color: #f5f5f5;*/
  color: #fff;
}

.sidebar {
  margin: 2em;
}

.greg-emoticon {
  width: 10em;
  /*margin: 2em;*/
  border-radius: 50%;
}

.intro > p {
  text-align: left;
}
/* end sidebar styles */



.content-wrapper {
  height: 100vh;
  flex: 10;
  width: 100%;
  display: flex;
  /*flex-flow: column wrap;*/
  flex-direction: column;
}

.blog-spacer {
  background-color: #d82029;
  color: #fff;
}

.main {
  flex-grow: 1;
  display: flex;
  /*flex-flow: column wrap;*/
}

.section {
  flex: 1 200px;
}

.footer {
  min-height: 10em;
  color: #fff;
  background-color: #191919;
}

@media only screen and ( min-width: 948px ) {
  .sidebar-wrapper {
    display: block;
  }

  .content-wrapper {
    width: 75%;
  }
}