@import url("sidebar.css");

.blog-home {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "HelveticaNeue", "Arial";
}

.blog-wrapper {
  display: flex;
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/

  /* flex-flow combines the flex-direction and flex wrap properties into one. note: used the flex: sizepx property/value in the item in order to wrap the content; */
  /*flex-flow: row wrap;*/
}

/* begin adding borders */
/*.blog-wrapper {
  border: 2px solid yellow;
}
.sidebar-wrapper,
.content-wrapper {
  border: solid pink 2px;
}

.sidebar,
.header,
.content,
.footer,
.main {
  border: solid green 2px;
}

.section {
  border: solid blue 2px;
}

.article {
  border: solid purple 2px;
}*/
/* end adding borders */

.content-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.blog-spacer {
  background-color: #d82029;
  /*background-color: #a31621;*/
  color: #fff;
}

/* start main section styles */
.main-content {
  margin: 0 4em;
  flex-grow: 1;
}

.blog-article-wrapper {
  display: grid;
  grid-gap: 4em;
  /*margin: 0 2em;*/
}

.blog-card {
  margin: 2em 0;
}

.article {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2em;
  /*background-color: #f1f1f1;*/
}

.article:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.archive-link {
  text-align: right;
}
/* end main section styles */

/* start footer styles */
.footer {
  min-height: 10em;
  color: #fff;
  background-color: #191919;
  /*background-color: #4e8098;*/
  /*background-color: #ced3dc;*/
}
/* end footer styles */

@media only screen and ( min-width: 948px ) {
  .content-wrapper {
    margin: 0 0 0 20%;
  }

  .blog-article-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}